!!! 5
%html
  %head
    %title
      Title
    %link{:rel=>'stylesheet', :href=>'bootstrap/css/bootstrap.min.css'}
    %link{:href=>'http://fonts.googleapis.com/css?family=Oxygen', :rel=>'stylesheet'}
    %link{:rel=>'stylesheet', :href=>'style.css'}
  %body
    #container
      .vspace110
      %header.container-width
        %a.circle.bg-blue{:href=>"index.html"}
          %img#LL{:src=>"img/LL.png"}
        %a.circle.bg-green{:href=>"work.html"}
          %img#work{:src=>"img/work.png"}
        %a.circle.bg-yellow{:href=>"memories.html"}
          %img#mem{:src=>"img/mem.png"}
        %a.circle.bg-red{:href=>"me.html"}
          %img#me{:src=>"img/me.png"}
        .clear
      .vspace110
      #body
        .hr.bg-green
        .vspace110
        #ss-graphicd.ss.container-width
          .ss-left
            %img{:src=>"img/ss-left-green.png"}
          .ss-main
            - (0..22).step(8).each do |i|
              .ss-page
                - if i % 8 == 0
                  .ss-row
                    %a.circle{:href=>"graphicdesign/#{i+1}"}
                      %img{:src=>"img/graphicdesign/#{i+1}.png"}
                    %a.circle{:href=>"graphicdesign/#{i+2}"}
                      %img{:src=>"img/graphicdesign/#{i+2}.png"}
                    %a.circle{:href=>"graphicdesign/#{i+3}"}
                      %img{:src=>"img/graphicdesign/#{i+3}.png"}
                    %a.circle{:href=>"graphicdesign/#{i+4}"}
                      %img{:src=>"img/graphicdesign/#{i+4}.png"}
                    .clear
                  .ss-row
                    %a.circle{:href=>"graphicdesign/#{i+5}"}
                      %img{:src=>"img/graphicdesign/#{i+5}.png"}
                    %a.circle{:href=>"graphicdesign/#{i+6}"}
                      %img{:src=>"img/graphicdesign/#{i+6}.png"}
                    %a.circle{:href=>"graphicdesign/#{i+7}"}
                      %img{:src=>"img/graphicdesign/#{i+7}.png"}
                    %a.circle{:href=>"graphicdesign/#{i+8}"}
                      %img{:src=>"img/graphicdesign/#{i+8}.png"}
                    .clear
          .ss-right
            %img{:src=>"img/ss-right-green.png"}
          .clear
        .vspace110
        .hr.bg-yellow
        .vspace110
        #ss-photo.ss.container-width
          .ss-left
            %img{:src=>"img/ss-left-yellow.png"}
          .ss-main
            - (0..17-1).each do |i|
              - close_row = "</div><!-- /.ss-row -->"
              - close_page = "</div><!-- /.ss-page -->"
              - open_page = "<div class='ss-page'>"
              - open_row = "<div class='ss-row'>"
              - open_a = "<a class='circle' href='photo/#{i+1}.html'>"
              - put_img = "<img src='img/photo/#{i+1}.png'/>"
              - close_a = "</a>"
              - put_clear = "<div class='clear'></div>"
              - eighth = (i % 8 == 0)
              - fourth = (i % 4 == 0)
              - zeroth = (i == 0)
              - if eighth
                - unless zeroth
                  = put_clear
                  = close_row
                  = close_page
                = open_page
                = open_row
                = open_a
                = put_img
                = close_a
              - elsif fourth
                = put_clear
                = close_row
                = open_row
                = open_a
                = put_img
                = close_a
              - else
                = open_a
                = put_img
                = close_a
            = "</div>"
            = "</div>"
          .ss-right
            %img{:src=>"img/ss-right-yellow.png"}
          .clear
        .clear
        .vspace110
        .hr.bg-red
        .vspace110
        .ss.container-width
          .ss-left
            %img{:src=>"img/ss-left-yellow.png", :style=>"visibility:hidden;"}
          .ss-main
            .ss-page
              .ss-row
                %a.circle
                  %img{:src=>"img/aboutme_0.png"}
                %a.circle{:style=>"position: relative; overflow: visible; top: 10px; left: -30px;"}
                  #me-description
                    Hello all,
                    %br
                    %br
                    My name is Wook Lee.
                    %br
                    %br
                    I design to create and
                    %br
                    imagine; photograph to
                    %br
                    cherish and remember.
                %a.circle{:href=>"mailto:wooklee@berkeley.edu"}
                  %img{:src=>"img/aboutme_1.png"}
                %a.circle{:href=>"http://instagram.com/koow"}
                  %img{:src=>"img/aboutme_2.png"}
      %footer
    %script{:src=>'jquery-1.8.2.min.js'}
    %script{:src=>'bootstrap/js/bootstrap.min.js'}
    %script{:src=>'slideshow.js'}
    :javascript
      // CODE


























